$headings-font-family: 'Sanchez';
$font-family-base: 'Raleway';

$blue: #3752AB;
$red: #D12B43;

$offcanvas-horizontal-width: 285px;

$enable-responsive-font-sizes: true;
$enable-shadows: true;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

.header {
    z-index: $zindex-modal-backdrop;
}

.bottom-nav-item {
    @extend 
        .border-top, 
        .border-2, 
        .border-dark;
    flex: 1 0 0%;
}

.bottom-nav-item:not(:last-child) {
    @extend
        .border-end,
        .border-2,
        .border-dark
}