$headings-font-family: 'Sanchez';
$font-family-base: 'Raleway';

$blue: #3752AB;
$red: #D12B43;

$offcanvas-horizontal-width: 285px;

$enable-responsive-font-sizes: true;

@import "../../node_modules/bootstrap/scss/bootstrap.scss";

// .nav-title {
//     @include font-size(2rem);
// }